.jumbotron {
background-image: url("../img/contact.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100%;
border-bottom: padding: 20px;
}

.jumbotron p {
  color: black;
  clear: both;
}

.jumbotron.fluid{
  height: 100%;
  background-color: black;
}

.lead {
  text-align: center;
}

.div.column p {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 4em;
  font-weight: 10;
}

nav {
  font-style: inherit;
  display: inline;
  font-size: 1em;
  position: fixed;
  width: 100% !important;
  top: 0;
  left: 0;
  padding-top: : 20px;
  -webkit-transition: color 100ms;

}

nav a {
font-style: inherit;
float: left;
-webkit-transition: color 100ms;
border-bottom:2px;
border-top:1px solid #fff;
margin:0 6em 3em;
padding:0 0px 2px;
}

nav a:hover {
 color: #ff0;
 text-decoration: none;
}

/*Typography*/
h1 {
  text-align: center;
  text-transform: uppercase;
  font-style: oblique;
}

h2 {
  color: black;
  font-size: 1.5em;
  font-style: oblique;
}
