* {
  box-sizing: border-box;
}
html, body {

}
body {
  background: -webkit-linear-gradient(#3D4955 0%, #0b8793 100%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height:100%;
  width:100%;
}
.calc {
  margin-top:100px !important;
  margin:auto;
  width:340px;
  background:#0f0204;
  border-radius:10px;
  padding:20px;
  box-shadow: 0 0 30px rgba(150,150,150,0.5);
}
.textview {
  border-radius:5px;
  width:300px;
  height:40px;
  margin-bottom:10px;
  text-align:right;
  padding-right:10px;

}
tr {
  margin:5px;

}
.button {
  background:white;
  border-radius:5px;
  width:75px;
  height:75px;

}

/*==== typography ====*/
.textview {
  font-size:2em;

}
.button {
  font-size:1.5em;

}
